.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;

    &__title-dsc{
        font-family: Lato;
        font-size: 30px;
        line-height: 54px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #222222;
    }

    &__title-text{
        font-family: Lato;
        font-size: 14px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #9f9f9f;
    }

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card{
        width: 261px;
        position: relative;
        &:hover{
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
        }
        &:hover .product__card-img{
            filter: brightness(30%);
        }
        &:hover .product__card-add-box{
            display: flex;
        }
    }

    &__card-text-dsc{
        font-family: Lato;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
    }

    &__card-text-price{
        font-family: Lato;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorSelectSite;
    }

    &__card-text{
        display: flex;
        flex-direction: column;
        gap: 17px;
        padding: 20px 14px;
    }

    &__card-link-add{
        display: flex;
        gap: 10px;
        padding: 10px;
        font-family: Lato;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;
        background-color: #000000;
        color: #fff;
        opacity: 0.5;
        border: 1px solid #fff;
        align-items: center;
        pointer-events: all;
        &:hover{
            box-shadow: 0 0 10px 0 #fff;
        }
    }

    &__card-add-box{
        position: absolute;
        top: 98px;
        display: none;
        justify-content: center;
        width: 100%;
        pointer-events: none;
    }

    &__section-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;
        padding: 60px 0;
    }

    &__button {
        width: 212px;
        height: 48px;
        background-color: $colorSelectSite;
        border: 0px solid $colorSelectSite;
        font-family: Lato;
        font-size: 16px;
        line-height: 54px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 8px;
    }

    &__button::before{
        content: '\f178';
        font-family: FontAwesome;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
    }

    &__button:hover{
        @include targetingEffectButton();
    }

    &__button:hover:before{
        color: $colorSelectSite;
    }
}