$colorSelectSite: #f16d7f;
$widthSite: 1140px;
$colorText: #222222;
$colorTextPageProduct: #6f6e6e;
$colorTextPageCheckout: #b3b2b2;
$colorTextPageShoppingCart: #656565;
$colorTextPageSingleTitle: #4d4d4d;

